<mat-card>
  <mat-card-header>
    {{ 'DASHBOARD_PAGE.BALANCE' | translate }}
  </mat-card-header>
  <mat-card-content>
    <div class="dashboard-balance">
      {{ quota }}
    </div>
    <mat-card-actions>
      <div class="card-right-button">
        <button mat-button routerLink="/quota-statement">
          <mat-icon class="mdi-eye"></mat-icon>
          {{ 'DASHBOARD_PAGE.VIEW_QUOTA_USAGE' | translate }}
        </button>
      </div>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
