:host {
  max-width: 920px;
  width: 100%;
  margin: 0 0 40px 0;
}

mat-card {
  border-radius: 2px;
  width: 100%;

  mat-card-content {
    padding-bottom: 0;

    .dashboard-balance {
      font-size: 24px;
      line-height: 32px;
      padding-bottom: 10px;
    }
  }
}
