:host {
  display: flex;
  width: 100%;
  height: 100%;
}
.usage-records-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

cs-top-bar h2 {
  font-size: 20px;
  padding-left: 30px;
  line-height: 70px;
  margin: 0;
}

.period-picker {
  height: 70px;
}

.usage-list {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  padding: 40px 20px 0 20px;
}

mat-card {
  border-radius: 2px;
  width: 100%;
  max-width: 920px;
  margin: 0 0 40px 0;

  ::ng-deep .mat-tab-list {
    flex-grow: 0;
  }

  ::ng-deep .mat-tab-body-wrapper {
    display: none;
  }

  .usage-list-no-usages {
    width: 100%;
    text-align: center;
    line-height: 80px;
  }

  table {
    width: 100%;

    .mat-row:hover {
      background-color: white;
    }

    td.mat-cell:not(:last-of-type):not(:first-of-type),
    td.mat-footer-cell:not(:last-of-type):not(:first-of-type),
    th.mat-header-cell:not(:last-of-type):not(:first-of-type) {
      padding: 0 8px;
    }

    tr:last-child td {
      border: none;
    }
  }
}

.filter {
  justify-content: flex-start;
}

.spinner {
  text-align: center;

  mat-spinner {
    width: 40px;
    height: 40px;
  }
}

.usage-type-select {
  display: inline-flex;
}

cs-search {
  display: inline-block;
}
