<mat-card>
  <mat-card-header>
    <mat-card-title>
      <div class="period-picker">
        <cs-period-picker
          [label]="'EVENT_PAGE.SELECT_DATE' | translate"
          [okLabel]="'COMMON.OK' | translate"
          [locale]="locale"
          [firstDayOfWeek]="firstDayOfWeek"
          [dateTimeFormat]="dateTimeFormatterService.dateTimeFormat"
          [cancelLabel]="'COMMON.CANCEL' | translate"
          [(ngModel)]="date"
          (changed)="dateChange.emit($event)"
        ></cs-period-picker>
      </div>
      <mat-form-field *ngIf="isAdmin" class="account-select">
        <mat-select
          [placeholder]="'VM_PAGE.FILTERS.SELECT_ACCOUNTS' | translate"
          [(ngModel)]="selectedAccountId"
          (selectionChange)="onSelectedAccountChanged($event.value)"
        >
          <mat-option>
            <ngx-mat-select-search
              [placeholderLabel]="'SELECT_SEARCH.SEARCH' | translate"
              [noEntriesFoundLabel]="'SELECT_SEARCH.NO_MATCH' | translate"
              [ngModel]="accountQuery"
              (ngModelChange)="onAccountQueryChanged($event)"
            >
              <mat-icon ngxMatSelectSearchClear class="mdi-close"></mat-icon>
            </ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let account of accountsFiltered" [value]="account.id"
            >{{ account.fullDomain }}{{ account.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>

  <table mat-table [dataSource]="dataSource" *loading="isLoading">
    <ng-container matColumnDef="typename">
      <th mat-header-cell *matHeaderCellDef>{{ 'QUOTA_STATEMENT_PAGE.ITEM' | translate }}</th>
      <td mat-footer-cell *matFooterCellDef>{{ 'QUOTA_STATEMENT_PAGE.TOTAL' | translate }}</td>
    </ng-container>
    <ng-container matColumnDef="main">
      <td mat-cell *matCellDef="let element" colspan="2">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ element.className | translate }}
            </mat-panel-title>
            <mat-panel-description>
              {{ element.quota }}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <table mat-table [dataSource]="element.dataSource" *loading="isLoading">
            <ng-container matColumnDef="typename">
              <td mat-cell *matCellDef="let element">
                {{ element.typename | translate }}
              </td>
            </ng-container>

            <ng-container matColumnDef="quota">
              <td mat-cell *matCellDef="let element">
                {{ element.quota }}
              </td>
            </ng-container>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </mat-expansion-panel>
      </td>
    </ng-container>
    <ng-container matColumnDef="quota">
      <th mat-header-cell *matHeaderCellDef>{{ 'QUOTA_STATEMENT_PAGE.COST' | translate }}</th>
      <td mat-footer-cell *matFooterCellDef>
        {{ quotaStatement[0]?.currency }} {{ quotaStatement[0]?.totalquota }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: ['main']"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</mat-card>
